body {
  font-family: sans-serif;
  padding-top: 50px;
  box-sizing: border-box;
  width: 1100px;
  margin: 0 auto;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

p {
    font-size: 12px;
    color: gray;
}

.hidden {
  display: none;
}

:target {
  display: block;
}

nav {
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    .menu-right:hover,
    .nav-link li:hover {
        background-color: rgb(209, 204, 204);
        border: 1px solid rgb(209, 204, 204);
        border-radius: 10px;
        padding: 5px 10px;
        text-align: center;
    }

    .nav-buttons {
        position: relative;
        height: 100px;
        max-width: 1100px;
        background-color: white;
        margin: 0 auto;
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid gray;

        .menu-right {
            font-size: 25px;
        }
    
        .nav-link {
            display: flex;
            align-items: center;

            li {
                list-style-type: none;
                margin: 0 10px;
                font-size: 17px;
            }
        }
    }
}



#design  {
    text-align: center;
    width: 600px;
    line-height: 20px;
}

article {
    width: 600px;
    height: 120px;
    margin: 100px auto 10px;
}
    
a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 28;
}

aside {
    border: 1px solid gray;
    border-radius: 20px;
    width: 1100px;
    margin: 0 auto;
    text-align: left;
    box-sizing: border-box;

    h2 {
        text-align: center;
    }

    
}

aside li {
    display: inline-block;
    padding: 0 10px;
}


footer {
    border: 1px solid gray;
    border-radius: 20px;
    width: 1100px;
    height: 50px;
    margin: 50px auto;
    box-sizing: border-box;
    padding-left: 20px;
    text-align: center;
}

#typography .typography1 {
    text-align: center;
    margin: 40px auto;
}

.heading1-4,
.body-text {
    display: inline-block;
    border: 1px solid gray;
    vertical-align: top; /* จัดให้อยู่ระดับเดียวกัน */
    border-radius: 20px;
    width: 500px;
    height: 400px;
    text-align: left;
    margin: 20px 10px;
    padding-left: 20px;
    box-sizing: border-box;

}

.font-information {
    border: 1px solid gray;
    border-radius: 20px;
    box-sizing: border-box;
    width: 1000px;
    margin: 0 auto;
    text-align: left;
    padding-left: 50px;
    
}

.font-information1,
.font-information2,
.font-information3 {
    display: inline-block;
    margin-right: 20px;

}

.font-information3 {
        padding-left: 5em;
    }






.Primary-Colors {
    border: 1px solid gray;
    border-radius: 20px;
    width: 220px;
    height: 60px;
}

#colors ul {
    border: 1px solid gray;
    border-radius: 20px;
    width: 1050px;
    height: 220px;
    margin: 20px auto;
    text-align: left;
    
}

#colors li {
    display: inline-block;
    padding-left: 10px;
}

.Semantic-Colors {
    border: 1px solid gray;
    border-radius: 20px;
    width: 140px;
    height: 60px;
}

.Chart-Colors {
    border: 1px solid gray;
    border-radius: 20px;
    width: 175px;
    height: 60px;

}

.Guidelines li {
    display: inline-block;
}


.box-button {
    border: 1px solid gray;
    border-radius: 20px;
    width: 1100px;
    height: 220px;
    box-sizing: border-box;
    display: flex;
    margin: 25px auto;
    padding-left: 60px;
    
}

.pri-button {
    text-align: left;
    width: 280px;
    padding-left: 2em;
    
    .ghost {
        color: black;
    }

    .ghost:hover {
        background-color: gainsboro;
    }
    
}

.box-s {
    border: 1px solid gray;
    border-radius: 10px;
    width: 250px;
    height: 30px;
    text-align: center;
    margin-top: 5px;
    color: white;

}

.center-button {
    width: 280px;
    padding-left: 2em;
    text-align: left;
    margin-top: 33px;

    .box-s {
        color: black;
    }

    .destructive {
    color: white;
}
}

.right-button {
    width: 280px;
    padding-left: 2em;
    text-align: left;
    margin-top: 33px;

    .box-s {
        color: black;
        
    }

    .active:hover {
        background-color: gainsboro;
    }

    .action:hover {
        text-decoration: underline;
    }
}   

.button-s {
    border: 1px solid gray;
    width: 1100px;
    border-radius: 20px;
    margin: 0 auto;
    text-align: left;
    box-sizing: border-box; 
    padding-left:  20px;

    p {
        display: inline;
        margin-left: 100px;
    }
    
}

.sdl-button {
    display: flex;
}

.s-button,
.d-button,
.l-button {
    display: flex;
    vertical-align: text-top;
    margin: 20px 10px;
    background-color: black;
    color: white;
    font-weight: 500;

}

.s-button {
    border: 1 solid gray;
    border-radius: 10px;
    width: 95px;
    height: 28px;
    padding: 0px 10.5px;
    font-size: 12px;
    align-items: center;
}

.d-button {
    border: 1 solid gray;
    border-radius: 10px;
    width: 114px;
    height: 32px;
    padding: 7px 14px;
    font-size: 12px;
    align-items: center;
}

.l-button {
    border: 1px solid gray;
    border-radius: 10px;
    width: 118px;
    height: 35px;
    padding: 0px 21px;
    font-size: 12px;
    align-items: center;
}

.guidelines {
    border: 1px solid gray;
    border-radius: 20px;
    width: 1100px;
    height: 250px;
    margin: 20px auto;
    display: block;
    text-align: left;
    padding-left: 20px;
    box-sizing: border-box;

    .guidelines1 {
        display: flex;

        div {
            width: 500px;
        }
        
    }

    

    

}


.button-a {
    border: 1px solid gray;
    border-radius: 10px;
    width: 66px;
    height: 28px;
    padding: 0px 10px;
    background-color: black;
    color: white;

}

.button-b {
    border: 1px solid gray;
    border-radius: 10px;
    width: 84px;
    height: 28px;
    padding: 0px 10px;
}

.input-field {
   border: 1px solid gray;
   border-radius: 20px;
   margin: auto;
   width: 1100px;
   height: 265px;
   text-align: left;
   padding-left: 20px;
}

input {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    width: 450px;
    height: 31px;
    background-color: rgb(243, 243, 245);
    box-sizing: border-box;
    padding:  3px 10px;
}

.data, 
.data2 {
    display: inline-block;
    padding-left: 20px;
    line-height: 2em;
}

.input-2 {
    border: 1px solid gray;
    border-radius: 20px;
    margin: 20px auto;
    width: 1100px;
    height: 160px;
    text-align: left;
    padding-left: 20px;
}

.data3,
.data4 {
    display: inline-block;
    line-height: 2em;
    padding-left: 20px;
}

select {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    width: 450px;
    height: 31px;
    background-color: rgb(243, 243, 245);
    box-sizing: border-box;
    padding:  3px 10px;
}

.data5,
.data6 {
    display: inline-block;
    line-height: 2em;
    padding-left: 20px;
}

.input-3 {
    border: 1px solid gray;
    border-radius: 20px;
    margin: 20px auto;
    width: 1100px;
    height: 200px;
    text-align: left;
    box-sizing: border-box;
    padding-left: 20px;
    

    input {
        width: 14px;
        height: 14px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background-color: rgb(243, 243, 245);
    }
}   

.data7,
.data8 {
    display: inline-block;
    width: 450px;
    height: 100px;
    line-height: 21px;
    
    
    ul {
         list-style-type: none;
    }
    
}

.toggle {
    padding-left: 20px;
    margin: auto;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 15px;
    vertical-align: middle;
    margin: 5px 3px;

}

.text {
    margin-left: 10px;
    font-size: 16px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;   /* สีตอนปิด */
    transition: .4s;
    border-radius: 20px;
}

.slider::before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

.switch input:checked + .slider {
    background-color: black;
}

.switch input:checked + .slider::before {
    transform: translateX(15px);
}


.toggle {
    border: 1px solid gray;
    border-radius: 20px;
    box-sizing: border-box;
    width: 1100px;
    height: 150px;
    text-align: left;
}

.switch1 {
    opacity: 50%;
}

.input-4 {
    border: 1px solid gray;
    border-radius: 20px;
    width: 1100px;
    height: 340px;
    margin: 20px auto;
    box-sizing: border-box;
    text-align: left;
    padding-left: 20px;
    line-height: 20px;

        
        #agree {
            width: 14px;
            height: 14px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            background-color: rgb(243, 243, 245);
            margin: 20px 7px;
            }      
        
}

.button-z {
    border: 1px solid gray;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    align-items: center;
    background-color: black;
    color: white;
}

.button-x {
    border: 1px solid gray;
    border-radius: 5px;
    height: 30px;
    width: 70px;
    align-items: center;
    background-color: white;
    color: black;
}

.system {
    border: 1px solid gray;
    border-radius: 20px;
    width: 1100px;
    height: 350px;
    box-sizing: border-box;
    margin: 20px auto;
    text-align: left;
    padding: 0 21px;

    h2 {
        margin: 1em 0;
    }
}

.col-grid {
    display: flex;
    justify-content: center
}

.col-grid1 {
    border: 1px solid gray;
    border-radius: 5px;
    width: 70px;
    height: 30px;
    box-sizing: border-box;
    margin: 10px 5px;
    padding: 5px;
    text-align: center;
    background-color: #e9ebef;
}

.layout3 {
    display: flex;
    justify-content: center

}

.layout {
    border: 1px solid gray;
    border-radius: 10px;
    width: 300px;
    height: 125px;
    box-sizing: border-box;
    text-align: center;
    margin: 0 10px;

    p {
        color: black;
        line-height: 2em;
    }
}

.spacing {
    border: 1px solid gray;
    border-radius: 20px;
    width: 1100px;
    height: 360px;
    box-sizing: border-box;
    margin: auto;
    text-align: left;
    padding-left: 20px;
}


.space-0 {
    display: flex; 
    width: 1000px;
    height: 20px;
    margin-bottom: 14px;

    div {
        width: 90px;
        height: 20px;
    }

    .bg-space1 {
        width: 4px;
        height: 14px;
        background-color: black;
    }

    .bg-space2 {
        width: 8px;
        height: 14px;
        background-color: black;
    }

    .bg-space3 {
        width: 12px;
        height: 14px;
        background-color: black;
    }

    .bg-space4 {
        width: 16px;
        height: 14px;
        background-color: black;
    }

    .bg-space6 {
        width: 24px;
        height: 14px;
        background-color: black;
    }

    .bg-space8 {
        width: 32px;
        height: 14px;
        background-color: black;
    }

    .bg-space12 {
        width: 48px;
        height: 14px;
        background-color: black;
    }

    .bg-space16 {
        width: 64px;
        height: 14px;
        background-color: black;
    }

}

.contraner-sizes {
    border: 1px solid gray;
    border-radius: 20px;
    width: 1100px;
    height: 220px;
    line-height: 1.5em;
    text-align: left;
    box-sizing: border-box;
    margin: 20px auto;
    padding-left: 20px;

    h2 {
        margin-bottom: 20px;
    }

    div {
        width: 1000px;
        height: 20px;
        margin-bottom: 7px;


        .word1 {
            width: 55px;
            height: 15px;
            padding: 2px 7px;
            margin: 1px;
            margin-right: 10px;
            background-color: oklch(0.95 0.0058 264.53);
            border-radius: 5px;
        }

    }
}

.card-layouts {
    border: 1px solid gray;
    border-radius: 20px;
    width: 1100px;
    height: 240px;
    line-height: 1.5em;
    text-align: left;
    box-sizing: border-box;
    margin: 20px auto;
    padding-left: 20px;

    .allbox-card {
        display: flex;
        justify-content: center;

        
        .box-card {
            border: 1px solid gray;
            border-radius: 20px;
            width: 300px;
            height: 150px;
            box-sizing: border-box;
            line-height: 21px;
            margin: 10px;
            padding-left: 20px;

            span {
                width: 25px;
                height: 15px;
                padding: 2px 7px;
                border-radius: 5px;
                font-size: 10.5px;
                background-color: black;
                color: white;
                box-sizing: border-box;
            }

            .box-card1 {
                border-bottom: 1px solid gray;
                padding-bottom: 7px;
            }
        }
    }
} 

.guidelines {
    border: 1px solid gray;
    border-radius: 20px;
    width: 1100px;
    height: 250px;
    box-sizing: border-box;
    text-align: left;
    display: block;


    .simi-guide {
        display: flex;
        
        div {
            width: 500px;
            padding-right:  20px;
            line-height: 1.5em;
        }
    }
}




.black { background-color: black;}
.white { background-color: white;}
.Light-Gray { background-color: #ececf0;}
.Slate-Gray { background-color: #717182;}
.Red { background-color: #d4183d;}
.off-white { background-color: #e9ebef;}
.Orange { background-color: oklch(0.646 0.222 41.116); }
.Teal   { background-color: oklch(0.6 0.118 184.704); }
.Blue   { background-color: oklch(0.398 0.07 227.392); }
.Green  { background-color: oklch(0.828 0.189 84.429); }
.Lime   { background-color: oklch(0.769 0.188 70.08); }