body {
  font-family: sans-serif;
  text-align: center;
  padding-top: 50px;
  box-sizing: border-box;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

p {
    font-size: 12px;
    color: gray;
}

.hidden {
  display: none;
}

:target {
  display: block;
}

.nav-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  list-style: none;
  border-bottom: 1px solid gray;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;            /* ให้เต็มจอ */
  z-index: 10px;
  background-color: white;
  box-sizing: border-box; /* กัน padding ทำให้เกินจอ */
}

.nav-buttons li {
  display: inline-block;
  margin: 0 10px;
}

.nav-buttons a:hover {
    border: 1px solid #ececf0;
    border-radius: 20px;
    background-color: #ececf0;
    width: 100px;
    height: 30px;
}

.nav-buttons a:active {
    border: 1px solid black;
    border-radius: 20px;
    background-color: black;
    color: white;
    width: 100px;
    height: 30px;
}

.home-left {
  /* ตัวแรกชิดซ้าย */
}

.home-right {
  display: flex; /* เรียงเมนูทางขวาให้อยู่บรรทัดเดียว */
}

article {
    width: 600px;
    height: 120px;
    margin: 50px auto 10px;
}
    
a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 28;
}

aside {
    border: 1px solid gray;
    border-radius: 20px;
    width: 1100px;
    margin: 0 auto;
    text-align: left;

    h2 {
        text-align: center;
    }

    
}

aside li {
    display: inline-block;
    padding: 0 10px;
}

.typography1 {
    text-align: left;
    padding-left: 50px;
}


footer {
    border: 1px solid gray;
    border-radius: 20px;
    width: 1100px;
    height: 50px;
    margin: 50px auto;
}

.heading1-4,
.body-text {
    display: inline-block;
    border: 1px solid gray;
    vertical-align: top; /* จัดให้อยู่ระดับเดียวกัน */
    border-radius: 20px;
    width: 500px;
    height: 400px;
    text-align: left;
    margin: 20px 10px;
    padding-left: 20px;
    box-sizing: border-box;

}

.font-information {
    border: 1px solid gray;
    border-radius: 20px;
    box-sizing: border-box;
    width: 1000px;
    margin: 0 auto;
    text-align: left;
    padding-left: 10px;
    
}

.font-information1,
.font-information2,
.font-information3 {
    display: inline-block;

}

.font-information3 {
        padding-left: 5em;
    }






.Primary-Colors {
    border: 1px solid gray;
    border-radius: 20px;
    width: 220px;
    height: 60px;
}

#colors ul {
    border: 1px solid gray;
    border-radius: 20px;
    width: 1050px;
    height: 220px;
    margin: 20px auto;
    text-align: left;
    
}

#colors li {
    display: inline-block;
    padding-left: 10px;
}

.Semantic-Colors {
    border: 1px solid gray;
    border-radius: 20px;
    width: 140px;
    height: 60px;
}

.Chart-Colors {
    border: 1px solid gray;
    border-radius: 20px;
    width: 175px;
    height: 60px;

}

.Guidelines li {
    display: inline-block;
}


.box-button {
    border: 1px solid gray;
    border-radius: 20px;
    width: 1100px;
    height: 220px;
    box-sizing: border-box;
    display: flex;
    margin: 25px auto;
    
}

.pri-button {
    text-align: left;
    width: 280px;
    padding-left: 2em;
    
    .ghost {
        color: black;
    }

    .ghost:hover {
        background-color: gainsboro;
    }
    
}

.box-s {
    border: 1px solid gray;
    border-radius: 10px;
    width: 250px;
    height: 30px;
    text-align: center;
    margin-top: 5px;
    color: white;

}

.center-button {
    width: 280px;
    padding-left: 2em;
    text-align: left;
    margin-top: 33px;

    .box-s {
        color: black;
    }

    .destructive {
    color: white;
}
}

.right-button {
    width: 280px;
    padding-left: 2em;
    text-align: left;
    margin-top: 33px;

    .box-s {
        color: black;
        
    }

    .active:hover {
        background-color: gainsboro;
    }

    .action:hover {
        text-decoration: underline;
    }
}   

.button-s {
    border: 1px solid gray;
    width: 1100px;
    border-radius: 20px;
    margin: 0 auto;
    text-align: left;
    box-sizing: border-box; 
    padding-left:  20px;

    p {
        display: inline;
        margin-left: 100px;
    }
    
}

.sdl-button {
    display: flex;
}

.s-button,
.d-button,
.l-button {
    display: flex;
    vertical-align: text-top;
    margin: 20px 10px;

}

.s-button {
    border: 1 solid gray;
    border-radius: 10px;
    width: 95px;
    height: 28px;
    padding: 0px 10.5px;
    font-size: 12px;
    align-items: center;
}

.d-button {
    border: 1 solid gray;
    border-radius: 10px;
    width: 114px;
    height: 32px;
    padding: 7px 14px;
    font-size: 12px;
    align-items: center;
}

.l-button {
    border: 1px solid gray;
    border-radius: 10px;
    width: 118px;
    height: 35px;
    padding: 0px 21px;
    font-size: 12px;
    align-items: center;
}

.guidelines {
    border: 1px solid gray;
    border-radius: 20px;
    width: 1100px;
    height: 235px;
    margin: 20px auto;
    display: flex;
    text-align: left;
    padding-left: 20px;
}

.hierarchy {
    margin: 0 auto;
}

.button-a {
    border: 1px solid gray;
    border-radius: 10px;
    width: 66px;
    height: 28px;
    padding: 0px 10px;
    background-color: black;
    color: white;

}

.button-b {
    border: 1px solid gray;
    border-radius: 10px;
    width: 84px;
    height: 28px;
    padding: 0px 10px;
}

.input-field {
    border: 1px solid gray;
    border-radius: 20px;
    width: 1100px;
    height: 265px;
    margin: 0 auto;
    display: flex;
    text-align: left;
    padding-left: 20px;
    box-sizing: border-box;
}

input {
    border: 1px solid gray;
    border-radius: 5px;
    width: 450px;
    height: 30px;
}






.black { background-color: black;}
.white { background-color: white;}
.Light-Gray { background-color: #ececf0;}
.Slate-Gray { background-color: #717182;}
.Red { background-color: #d4183d;}
.off-white { background-color: #e9ebef;}
.Orange { background-color: oklch(0.646 0.222 41.116); }
.Teal   { background-color: oklch(0.6 0.118 184.704); }
.Blue   { background-color: oklch(0.398 0.07 227.392); }
.Green  { background-color: oklch(0.828 0.189 84.429); }
.Lime   { background-color: oklch(0.769 0.188 70.08); }